@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.heading {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 24, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading h1 {
    font-weight: 900;
    font-style: italic;
}

.search-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.search-area input {
    width: 20vw;
    max-width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 5px;
    font-size: 15px;
}

.search-btn {
    width: 8vw;
    max-width: 90px;
    background-color: blueviolet;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    height: 30px;
    font-size: 15px;
}

.main-page 
.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
    max-width: 1200px;
    margin: auto;
}

.list-page .container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    font-family: 'Times New Roman', Times, serif;
}

.movies, .favourite-area, .lists-area {
    border: 1px solid #cc7777;
    border-radius: 8px;
    padding: 20px;
}

.lists-area {
    width: 70%;
}

.list-zone {
    display: flex;
    justify-content: space-around;
}

.list-zone .remove-btn img {
    width: 25px;
    height: 25px;
}

.list-box {
    border: 1px solid #cc7777;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.list-box * {
    font-family: 'Times New Roman', Times, serif;
}

.list-box .title {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}

.list-box .saved-movies {
    margin-top: 20px;
}

.list-box .saved-movie {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 12px;
}

.saved-movie .link-btn {
    width: 60px;
    height: 25px;
    background-color: rgb(255, 213, 0);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
}

.movies {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 150px;
}

.movie-card {
    display: flex;
}

.movie-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.movie-info h2 {
    font-size: 25px;
}

.movie-info h2, .movie-info p {
    font-family: 'Times New Roman', Times, serif;
}

.movie-poster {
    width: 50%;
}

.movie-poster img {
    width: 200px;
}

.fav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: blueviolet;
    font-size: 15px;
    margin-top: 15px;
}

.favourite-area {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.favourite-list {
    flex-grow: 1; 
}

.favourite-item {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.remove-btn img {
    width: 17px;
    height: 17px;
}

.remove-btn {
    border: none;
    background-color: white;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-top: 15px;
}

.control input {
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
}

.control .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: blueviolet;
    font-size: 15px;
}

.control .btn:disabled {
    background-color: gray;
    color: black;
}

@media (max-width: 990px) and (min-width: 601px) {
  .main-page .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .movies,
  .favourite-area,
  .lists-area {
    width: 90%;
  }

  .search-area input {
    width: 40vw;
    max-width: 300px;
  }

  .search-btn {
    width: 15vw;
    max-width: 120px;
  }

  .control .btn {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .main-page .container,
  .list-page .container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
    gap: 15px;
  }

  .list-page .container {
    flex-direction: column;
  }

  .movies,
  .favourite-area,
  .lists-area {
    width: 100%;
    padding: 10px;
  }

  .search-area {
    flex-direction: column;
    align-items: center;
  }

  .search-area input,
  .search-btn {
    width: 80vw;
    max-width: none;
  }

  .movie-card {
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .movie-poster {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .movie-info {
    width: 100%;
    align-items: center;
  }

  .list-zone {
    align-items: center;
    gap: 10px;
  }

  .list-box {
    width: 100%;
  }

  .list-box .saved-movie {
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .control .btn {
    width: 90%;
  }
}